.button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -spec-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    white-space: nowrap;
    background-color: $c-blue;
    color: $c-white;
    font-size: 10px;
    font-weight: lighter;
    text-transform: uppercase;
    height: 24px;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    position: relative;

    &.-success {
        background-color: $c-green;
    }
}