#footer {
	tr {
		background-color: $c-blue;
		td {
			p {
				font-family: $f-default;
				font-weight: 400;
				font-size: $fs-default;
				color: $c-white;
				margin-top: $gutter/2;
				margin-left: $gutter/2;
				margin-bottom: $gutter/2;
			}
			a { color: $c-white; text-decoration: none; }
		}
	}
	.brand {
		margin: 0 $gutter/2;
	}
}

#footer-end {
	td {
		font-family: $f-small;
		color: $font-color;
		font-size: 10px;
		line-height: 150%;
		text-align:center;
	}
	p {
		display: block;
	}
}