#header {
	text-align: center;
	position: relative;

	td {
		background-color: $theme;
		font-family: $f-default;
		color: $c-white;

		p.email-title {
			line-height:120%;
			color: $c-white;
			font-size: $fs-title;
			font-weight: 700;
			text-decoration: none;
			margin: 0!important;
		}
	}
}

#pre-header {
	text-align: center;
	position: relative;
	td {
		font-family: $f-default;
		color: darken($c-gray, 26);
		font-size: 10px;
		a {
			color: $c-orange;
		}
	}
}