#body {
	background-color: $bg-color;

    a, p, ul,
    .h1, .h2, .h3, .h4, .h5, .h6 {
		color: $c-black;
		font-family: $f-default;
	}

	.h1 {font-size: $fs-h1}
	.h2 {font-size: $fs-h2}
	.h3 {font-size: $fs-h3}
	.h4 {font-size: $fs-h4}
	.h5 {font-size: $fs-h5}
    .h6 {font-size: $fs-h6}

    p {
		margin-bottom: $gutter;
	}
}

#wrapper {
	width: 100%;
}

#container {
	width: $container;
	margin: $gutter auto;
    background-color: $c-white;
}


#template-default {
}