#body {
	margin:0;
	width: 100%;
	height:100% !important;
}

img {
	border:0;
	height:auto;
	line-height:100%;
	outline:none;
	text-decoration:none;
	display: block;
}

table {
	border-collapse:collapse !important;
}

#outlook a {
	padding:0;
}

.ReadMsgBody{
	width:100%;
}
.ExternalClass {
	width:100%;
	line-height: 100%;
	p,
	span,
	font,
	td,
	div {
		line-height: 100%;
	}
}

#body, table, td, p, a, li, blockquote {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:100%;
}

table, td {
	mso-table-lspace:0pt;
	mso-table-rspace:0pt;
}

img {
	-ms-interpolation-mode:bicubic;
}
a {
	display: inline-block;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	mso-line-height-rule: exactly;
	margin: 0 0 $gutter;
	font-weight: 900;
}