<table id="timeline" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border: solid 1px #d8d8d8; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
    <tbody>
    <tr>
        <td align="center" valign="top" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
            {{ data.mage.timeline.status_manufacture_overdue }}
            {#{% include "./../magento/email/timeline_fixed.nunjucks" %}#}
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
            <table id="timeline-steps" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background-color: #d8d8d8; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                <tbody>
                <tr>
                    <td align="center" valign="bottom" width="12.5%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0;">
                        <table id="wrap-title" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; height: 33.33333px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tbody>
                            <tr>
                                <td align="center" valign="middle" width="100%" heigth="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;">
                                    <p class="title " style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #54b04d; font-family: 'Arial', arial, sans-serif; font-size: 9px; font-weight: 900; line-height: 10px; margin-bottom: 10px; margin-top: 0;">
                                        Pedido<br>Realizado </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <img width="50" heigth="50" src="{{data.mage.skin.url}}images/emails/states/passed/small/order-placed.png" style="-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                    </td>
                    <td align="center" valign="bottom" width="12.5%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0;">
                        <table id="wrap-title" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; height: 33.33333px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tbody>
                            <tr>
                                <td align="center" valign="middle" width="100%" heigth="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;">
                                    <p class="title " style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #54b04d; font-family: 'Arial', arial, sans-serif; font-size: 9px; font-weight: 900; line-height: 10px; margin-bottom: 10px; margin-top: 0;">
                                        Pagamento
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <img width="50" heigth="50" src="{{data.mage.skin.url}}images/emails/states/passed/small/order-payment.png" style="-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                    </td>
                    <td align="center" valign="bottom" width="12.5%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0;">
                        <table id="wrap-title" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; height: 33.33333px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tbody>
                            <tr>
                                <td align="center" valign="middle" width="100%" heigth="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;">
                                    <p class="title " style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #bda438; font-family: 'Arial', arial, sans-serif; font-size: 9px; font-weight: 900; line-height: 10px; margin-bottom: 10px; margin-top: 0;">
                                        Em<br>Fabricação </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <img width="50" heigth="50" src="{{data.mage.skin.url}}images/emails/states/alert/small/shout.png" style="-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                    </td>
                    <td align="center" valign="bottom" width="12.5%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0;">
                        <table id="wrap-title" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; height: 33.33333px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tbody>
                            <tr>
                                <td align="center" valign="middle" width="100%" heigth="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;">
                                    <p class="title " style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #b3b3b5; font-family: 'Arial', arial, sans-serif; font-size: 9px; font-weight: 900; line-height: 10px; margin-bottom: 10px; margin-top: 0;">
                                        Em<br>Separação </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <img width="50" heigth="50" src="{{data.mage.skin.url}}images/emails/states/waiting/small/order-split.png" style="-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                    </td>
                    <td align="center" valign="bottom" width="12.5%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0;">
                        <table id="wrap-title" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; height: 33.33333px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tbody>
                            <tr>
                                <td align="center" valign="middle" width="100%" heigth="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;">
                                    <p class="title " style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #b3b3b5; font-family: 'Arial', arial, sans-serif; font-size: 9px; font-weight: 900; line-height: 10px; margin-bottom: 10px; margin-top: 0;">
                                        Emissão de<br>Nota Fiscal </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <img width="50" heigth="50" src="{{data.mage.skin.url}}images/emails/states/waiting/small/order-invoice-issuance.png" style="-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                    </td>
                    <td align="center" valign="bottom" width="12.5%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0;">
                        <table id="wrap-title" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; height: 33.33333px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tbody>
                            <tr>
                                <td align="center" valign="middle" width="100%" heigth="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;">
                                    <p class="title " style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #b3b3b5; font-family: 'Arial', arial, sans-serif; font-size: 9px; font-weight: 900; line-height: 10px; margin-bottom: 10px; margin-top: 0;">
                                        Encaminhada P/<br>Transportadora </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <img width="50" heigth="50" src="{{data.mage.skin.url}}images/emails/states/waiting/small/order-forwarded-carrier.png" style="-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                    </td>
                    <td align="center" valign="bottom" width="12.5%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0;">
                        <table id="wrap-title" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; height: 33.33333px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tbody>
                            <tr>
                                <td align="center" valign="middle" width="100%" heigth="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;">
                                    <p class="title " style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #b3b3b5; font-family: 'Arial', arial, sans-serif; font-size: 9px; font-weight: 900; line-height: 10px; margin-bottom: 10px; margin-top: 0;">
                                        Pedido em<br>Trânsito </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <img width="50" heigth="50" src="{{data.mage.skin.url}}images/emails/states/waiting/small/order-shipping.png" style="-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                    </td>
                    <td align="center" valign="bottom" width="12.5%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 10px 0;">
                        <table id="wrap-title" border="0" cellpadding="0" cellspacing="0" width="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; height: 33.33333px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tbody>
                            <tr>
                                <td align="center" valign="middle" width="100%" heigth="100%" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0;">
                                    <p class="title " style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #b3b3b5; font-family: 'Arial', arial, sans-serif; font-size: 9px; font-weight: 900; line-height: 10px; margin-bottom: 10px; margin-top: 0;">
                                        Entregue ao<br>Destinatario </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <img width="50" heigth="50" src="{{data.mage.skin.url}}images/emails/states/waiting/small/order-delivered.png" style="-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
