<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <!-- [ header starts here] -->
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <tr>
                  <td valign="top"><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></td>
            </tr>
        <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Ol&aacute;, {{htmlescape var=$order.getCustomerName()}}</h1>
                    <p style="font-size:14px;line-height:16px; margin:0;text-align:center;"><b>                      
                        Aprovação de pagamento</p><br></b><br>
                    <p style="font-size:12px; line-height:16px; margin:0;"><br>
                        O seu pedido {{var order.increment_id}} foi aprovado pela instituição financeira e liberado pela{{var store.getFrontendName()}}.
                    <p style="font-size:12px; line-height:16px; margin:0;"><br>
                         O prazo para entrega começa a contar a partir de agora, conforme informamos no site e no e-mail enviado após o fechamento do pedido.Voc&ecirc; pode verificar o andamento do seu pedido clicando em <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">minha conta.</a>
                    <p style="font-size:12px; line-height:16px; margin:0;"><br>
                        Se voc&ecirc; tiver qualquer d&uacute;vida, fique &agrave; vontade para para nos contatar através do nosso <a href=" {{config path="web/unsecure/base_url"}}loja-virtual-sac/sac" style="color:#1E7EC8;">Atendimento.</a>
                    <p style="font-size:12px; line-height:16px; margin:0;"><br>
                         Entraremos em contato novamente assim que seu pedido for entregue à transportadora ou correio.
                            <tr>
                                <th align="left" width="325" bgcolor="#FFFFFF" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">Ao receber o produto, confira a embalagem junto à transportadora e, caso esteja danificada ou violada, recuse a entrega.</th>
                                <th width="10"></th>
                            </tr>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="font-size:18px; font-weight:normal; margin:0;">Sua Fatura #{{var invoice.increment_id}} para o Pedido #{{var order.increment_id}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                            <tr>
                                <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Informa&ccedil;&otilde;es de Cobran&ccedil;a:</th>
                                <th width="10"></th>
                                <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Formas de Pagamento:</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.billing_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Informa&ccedil;&otilde;es de Entrega:</th>
                            <th width="10"></th>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">M&eacute;todo de Envio:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.shipping_address.format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.shipping_description}}&nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}
                    {{layout area="frontend" handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}
                    <p style="font-size:12px; margin:0 10px 10px 0;">{{var comment}}</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Obrigado por comprar na <strong>{{var store.getFrontendName()}}</strong></strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>