<!-- Save for Web Slices (news_boas_vindas_v3.psd) -->
<center><table id="Tabela_01" width="800" height="1300" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="5">
			<a href="http://www.marabraz.com.br/boas-vindas">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_01.jpg" width="800" height="26" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="5">
			<a href="http://www.marabraz.com.br">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_02.jpg" width="800" height="508" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="5">
			<a href="http://www.blogmara.com.br">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_03.jpg" width="800" height="175" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_04.jpg" width="800" height="33" alt=""></td>
	</tr>
	<tr>
		<td>
			<a href="https://www.facebook.com/lojasmarabrazoficial">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_05.jpg" width="261" height="143" border="0" alt=""></a></td>
		<td colspan="2">
			<a href="https://twitter.com/lojasmarabraz">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_06.jpg" width="245" height="143" border="0" alt=""></a></td>
		<td>
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_07.jpg" width="1" height="143" alt=""></td>
		<td>
			<a href="https://www.instagram.com/lojasmarabraz">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_080.jpg" width="293" height="143" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="5">
			<a href="#">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_09.jpg" width="800" height="114" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_10.jpg" width="800" height="79" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<a href="http://www.marabraz.com.br/sac/">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_11.jpg" width="800" height="95" border="0" alt=""></a></td>
	</tr>

 <tr class="footer"  style="background:#27539c; color:#FFF;">
            <td colspan="5">

<table id="x_timeline" width="800" border="0" cellpadding="0" cellspacing="0" style="max-width: 800px;">
<tr class="x_footer" width="800px" style="background:#27539c; color:#FFF">
<td ><a href="http://www.marabraz.com.br/cartao-marabraz?utm_medium=zanox&utm_source=afiliados&utm_campaign=af&utm_term=footer&utm_content=cartao" target="_blank" rel="noopener noreferrer" title=""><img data-imagetype="External" src="http://image.info.marabraz.com/lib/fe5815707c620075761c/m/1/6f7fa1d1-bf68-4610-adb6-f2f50bab1f48.jpg" height="125" width="800" style="display:block; padding:0px; text-align:center; height:auto; width:100%; border-width:0px; border-color:transparent; border-style:solid"></a> </td>
</tr>
</table>
</td>
        </tr>

  <tr class="footer"  style="background:#FFF; color:#FFF;">
            <td colspan="5" style="padding-top: 6px; padding-bottom: 6px; background-color:#FFF;">

<span style="font-size:12px;"><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;">&copy; 2015 Lojas Marabraz. Todos direitos reservados.&nbsp;<br>
 CNPJ: 20.857.131/0001-05 IE: 241.064.974.111&nbsp;<br>
 Blue Group Participa&ccedil;&otilde;es e Com&eacute;rcio Eletr&ocirc;nico LTDA<br>
 <br>
 
 <span style="font-family: tahoma, geneva, sans-serif;">Caso haja diverg&ecirc;ncia de valores ou descri&ccedil;&otilde;es no produto ser&aacute; v&aacute;lido o que for exibido no carrinho de compras do site. Fotos meramente ilustrativas. Para informa&ccedil;&otilde;es mais detalhadas do produto visite nosso site.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">*Adquira o cartão de crédito Marabraz Banco Pan Internacional e tenha vantagens exclusivas em compras no nosso site. <a href="http://www.marabraz.com.br/cartao-marabraz?utm_source=salesforce&utm_medium=crm&utm_campaign=em&utm_term=textolegal&utm_content=footer">Clique aqui</a> e confira o regulamento.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Adicione a Marabraz aos seus contatos para que nossos e-mails n&atilde;o caiam na sua pasta de spam.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Ficou com alguma d&uacute;vida ou quer entrar em contato? Ent&atilde;o fale com nossa central de atendimento, eles ter&atilde;o enorme prazer em ajud&aacute;-lo.</span>
   <br><br>
  
  </span></span>
</span>

</td>
</tr>



	<tr>
		<td colspan="5">
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_12.jpg" width="800" height="78" alt=""></td>
	</tr>


	<tr>
		<td colspan="2">
			<a href="http://e.allin.news.marabraz.com/saindo.php?cpid=1&id_user=7544&idem=1&id_campanha=4048167&li=23&pp=t&raco=092499358950dd75762df2d97a94b88f&roca=dGlhZ29Abm9zdHJvc2l0ZS5jb20uYnI=">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_13.jpg" width="308" height="48" border="0" alt=""></a></td>
		<td colspan="3">
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/news_boas_vindas_v3_14.jpg" width="492" height="48" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/spacer.gif" width="261" height="1" alt=""></td>
		<td>
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/spacer.gif" width="47" height="1" alt=""></td>
		<td>
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/spacer.gif" width="198" height="1" alt=""></td>
		<td>
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="http://i1.marabraz.com.br/media/wysiwyg/Email/spacer.gif" width="293" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices --></center>