{{CustomVar code="email_cabecalho"}}

<p><strong>Prezado(a) {{htmlescape var=$order.getCustomerName()}},</strong></p>
<p> O status do seu pedido Nº {{var order.increment_id}} foi alterado para: <strong>{{var order.getStatusLabel()}}</strong>.</p>
<p>Você pode verificar a situação do seu pedido acessando <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">sua conta</a>.</p>
<p>{{var comment}}</p>
<p>Se você tiver quaisquer dúvidas, entre em contato em <a href="mailto:sac.reclamacao@marabraz.com.br" style="color:#1E7EC8;">sac.reclamacao@marabraz.com.br</a> ou por telefone:
(11) 3003-9070.</p>

{{CustomVar code="email_rodape"}}

<style>body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>