<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="margin:0; padding:0;">
	<table border="0" cellpadding="0" cellspacing="0" style="width:100%; max-width:600px; background:#FFF; font-family:Verdana; margin: auto;">
		<tr class="logo" width="100%">
			<td colspan="2" style="width:100%; padding:2.5% 7% 2.5% 7%; background:#27539c;"><img src="http://i1.marabraz.com.br/media/wysiwyg/emails-transacionais/logo-marabraz-email.png" style="max-width:100%;" /></td>
		</tr>
		<tr class="title" width="100%">
			<td colspan="2" width="100%" style="background:#f8f8f8;text-align:center;color:#27539c;font-size:28px;padding:2.5% 7% 3% 7%;margin:0;">
				<strong>Assinatura Cancelada</strong>
			</td>
		</tr>
		<tr class="usuario" width="100%">
			<td colspan="2" width="100%" style="padding:11% 7% 2.5% 7%; color:#27539c; font-size:18px;">
				<p>{{var saudacao}}</p>
			</td>
		</tr>
		<tr class="info" width="100%">
			<td colspan="2" width="100%" style="padding:0 7% 350px 7%; font-size:11px; color:#666666">
				<p>Informamos que o cancelamento da assinatura de newsletter foi efetuada com sucesso.</p>
				<p>Se voc&ecirc; tiver alguma d&uacute;vida sobre sua conta ou qualquer outra informa&ccedil;&atilde;o do site, por favor n&atilde;o deixe de entrar em contato conosco atrav&eacute;s do nosso <a href="http://www.marabraz.com.br/sac/" style="text-decoration:none; color:#4d81d9;">Atendimento</a>.</p>
			</td>
		</tr>
		<tr class="dica" width="100%">
			<td colspan="2" width="100%" style="padding:0 7% 5.5% 7%; color:#27539c; font-size:18px;">
				<span style="width:30%; float:left;">#dicamara</span><span style="display:inline-block; width:70%; border-top:2px solid #5a8adc; padding-bottom:3px;"></span>
			</td>
		</tr>
		<tr class="dica-content" width="100%">
			<td colspan="2" width="100%" style="padding:0 7% 4% 7%; color:#27539c; font-size:18px;">
				<p style="font-size:11px;">Visite tamb&eacute;m o <a href="blogmara.com.br" style="color:#27539c;">Blog Mara</a> e fique por dentro das melhores tend&ecirc;ncias de decora&ccedil;&atilde;o e dicas para deixar sua casa ainda mais bonita e confort&aacute;vel.</p>
			</td>
		</tr>


<tr class="footer"  style="background:#27539c; color:#FFF;">
            <td colspan="2">

<table id="x_timeline" width="600" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
<tr class="x_footer" width="600px" style="background:#27539c; color:#FFF">
<td ><a href="http://www.marabraz.com.br/cartao-marabraz?utm_medium=zanox&utm_source=afiliados&utm_campaign=af&utm_term=footer&utm_content=cartao" target="_blank" rel="noopener noreferrer" title=""><img data-imagetype="External" src="http://image.info.marabraz.com/lib/fe5815707c620075761c/m/1/6f7fa1d1-bf68-4610-adb6-f2f50bab1f48.jpg" height="125" width="600" style="display:block; padding:0px; text-align:center; height:auto; width:100%; border-width:0px; border-color:transparent; border-style:solid"></a> </td>
</tr>
</table>
</td>
        </tr>

  <tr class="footer"  style="background:#FFF; color:#FFF;">
            <td colspan="2" style="padding-top: 6px; padding-bottom: 6px;">

<span style="font-size:12px;"><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;">&copy; 2015 Lojas Marabraz. Todos direitos reservados.&nbsp;<br>
 CNPJ: 20.857.131/0001-05 IE: 241.064.974.111&nbsp;<br>
 Blue Group Participa&ccedil;&otilde;es e Com&eacute;rcio Eletr&ocirc;nico LTDA<br>
 <br>
 
 <span style="font-family: tahoma, geneva, sans-serif;">Caso haja diverg&ecirc;ncia de valores ou descri&ccedil;&otilde;es no produto ser&aacute; v&aacute;lido o que for exibido no carrinho de compras do site. Fotos meramente ilustrativas. Para informa&ccedil;&otilde;es mais detalhadas do produto visite nosso site.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">*Adquira o cartão de crédito Marabraz Banco Pan Internacional e tenha vantagens exclusivas em compras no nosso site. <a href="http://www.marabraz.com.br/cartao-marabraz?utm_source=salesforce&utm_medium=crm&utm_campaign=em&utm_term=textolegal&utm_content=footer">Clique aqui</a> e confira o regulamento.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Adicione a Marabraz aos seus contatos para que nossos e-mails n&atilde;o caiam na sua pasta de spam.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Ficou com alguma d&uacute;vida ou quer entrar em contato? Ent&atilde;o fale com nossa central de atendimento, eles ter&atilde;o enorme prazer em ajud&aacute;-lo.</span>
   <br><br>
  
  </span></span>
</span>

</td>
</tr>


		<tr class="footer" width="100%" style="background:#27539c; color:#FFF;">
			<td width="50%" style="padding:1.5% 0 1.5% 7%; font-family:Arial; font-size:8px;">
				BLUE GROUP PARTICIPA&Ccedil;&Otilde;ES E COM&Eacute;RCIO ELETR&Ocirc;NICO LTDA.<br />
				Rodovia Anhanguera, km 37,5 - Bairro Empresarial Gato Preto<br />
				Cajamar, SP - Tel: 11 3003-9070<br />
				Inscrita no CNPJ sob o nº 20.857.131/0001-05
			</td>
			<td width="50%" style="text-align:right; padding:1.5% 7% 1.5% 0;">
				<img src="http://i1.marabraz.com.br/media/wysiwyg/emails-transacionais/logo-marabraz-footer.png" />
			</td>
		</tr>
	</table>
</body>
</html>