<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                         <td valign="top"><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>Veja quais s&atilde;o meus produtos favoritos da loja {{var store.getFrontendName()}}.</h1>
                        <table cellspacing="0" cellpadding="0" class="message-container">
                            <tr>
                                <td>{{var message}}</td>
                            </tr>
                        </table>
                        {{var items}}
                        {{depend salable}}
                        <strong><a href="{{var viewOnSiteLink}}">Visualizar Produtos</a></strong></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<!-- CARTÃO--->
<tr class="footer"  style="background:#27539c; color:#FFF;">
            <td colspan="2">

<table id="x_timeline" width="628" border="0" cellpadding="0" cellspacing="0" style="max-width: 628px;">
<tr class="x_footer" width="628px" style="background:#27539c; color:#FFF">
<td ><a href="http://www.marabraz.com.br/cartao-marabraz?utm_medium=zanox&utm_source=afiliados&utm_campaign=af&utm_term=footer&utm_content=cartao" target="_blank" rel="noopener noreferrer" title=""><img data-imagetype="External" src="http://image.info.marabraz.com/lib/fe5815707c620075761c/m/1/6f7fa1d1-bf68-4610-adb6-f2f50bab1f48.jpg" height="125" width="600" style="display:block; padding:0px; text-align:center; height:auto; width:100%; border-width:0px; border-color:transparent; border-style:solid"></a> </td>
</tr>
</table>
</td>
        </tr>


  <tr class="footer"  style="background:#FFF; color:#FFF;">
            <td colspan="2" style="padding-top: 6px; padding-bottom: 6px; background-color:#FFF;">

<span style="font-size:12px;"><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;">&copy; 2015 Lojas Marabraz. Todos direitos reservados.&nbsp;<br>
 CNPJ: 20.857.131/0001-05 IE: 241.064.974.111&nbsp;<br>
 Blue Group Participa&ccedil;&otilde;es e Com&eacute;rcio Eletr&ocirc;nico LTDA<br>
 <br>
 
 <span style="font-family: tahoma, geneva, sans-serif;">Caso haja diverg&ecirc;ncia de valores ou descri&ccedil;&otilde;es no produto ser&aacute; v&aacute;lido o que for exibido no carrinho de compras do site. Fotos meramente ilustrativas. Para informa&ccedil;&otilde;es mais detalhadas do produto visite nosso site.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">*Adquira o cartão de crédito Marabraz Banco Pan Internacional e tenha vantagens exclusivas em compras no nosso site. <a href="http://www.marabraz.com.br/cartao-marabraz?utm_source=salesforce&utm_medium=crm&utm_campaign=em&utm_term=textolegal&utm_content=footer">Clique aqui</a> e confira o regulamento.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Adicione a Marabraz aos seus contatos para que nossos e-mails n&atilde;o caiam na sua pasta de spam.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Ficou com alguma d&uacute;vida ou quer entrar em contato? Ent&atilde;o fale com nossa central de atendimento, eles ter&atilde;o enorme prazer em ajud&aacute;-lo.</span>
   <br><br>
  
  </span></span>
</span>

</td>
</tr>

<!---/////CARTÃO--->
</table>

{{template config_path="design/email/footer"}}

