<style type="text/css">

body{
    
    margin: 0 auto !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
       }

    h1{
        font-family: Tahoma;
        font-size:28px;
        text-transform: uppercase;
        color:#27539c;
    }

.title{
    padding-top: 4em;
    width: 50%
}

h2{
    padding:11% 7% 2.5% 7%; 
    color:#27539c; 
    font-size: 14px;
    font-size: Tahoma;
}
a{
    color:#27539c; 
    font-size: 14px;

}
span{
width:100%; 
float:left;
}

.doc{
    text-align:center;
    padding-top:2em;
    margin:0;
    width: 50%;
}

p{
    font-size: 14px;
    font-family: Tahoma;
    color:#666666;
}

.footer{
    background-color: #27539c;
}

table,
        td {
            background-color: #edeef0;
            mso-table-lspace: 0pt !important;
            mso-table-rspace: 0pt !important;
        }
                
        /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }
        table table table {
            table-layout: auto; 
        }
        
        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            
            -ms-interpolation-mode:bicubic;
             max-width: 200%;
        }
        
        /* What it does: A work-around for iOS meddling in triggered links. */
        *[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
        }

        /* What it does: A work-around for Gmail meddling in triggered links. */
        .x-gmail-data-detectors,
        .x-gmail-data-detectors *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
        }

        /* What it does: Prevents underlining the button text in Windows 10 */
        .button-link {
            text-decoration: none !important;
        }
      
        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */
        /* Thanks to Eric Lepetit @ericlepetitsf) for help troubleshooting */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) { /* iPhone 6 and 6+ */
            .email-container {
                min-width: 375px !important;
            }
        }
    
    </style>
    
    <!-- Progressive Enhancements -->
    <style>
        
        /* What it does: Hover styles for buttons */
        .button-td,
        .button-a {
            transition: all 100ms ease-in;
        }
        .button-td:hover,
        .button-a:hover {
            background: #555555 !important;
            border-color: #555555 !important;
        }

        /* Media Queries */
        @media screen and (max-width: 600px) {



            .email-container {
                width: 100% !important;
                margin: auto !important;
            }

            /* What it does: Forces elements to resize to the full width of their container. Useful for resizing images beyond their max-width. */
            .fluid {
                max-width: 100% !important;
                height: auto !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }

            /* What it does: Forces table cells into full-width rows. */
            .stack-column,
            .stack-column-center {
                display: block !important;
                width: 100% !important;
                max-width: 100% !important;
                direction: ltr !important;
            }
            /* And center justify these ones. */
            .stack-column-center {
                text-align: center !important;
            }
        
            /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
            .center-on-narrow {
                text-align: center !important;
                display: block !important;
                margin-left: auto !important;
                margin-right: auto !important;
                float: none !important;
            }
            table.center-on-narrow {
                display: inline-block !important;
            }
                
        }


</style>

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="margin:0; padding:0;">
<table border="0" cellpadding="0" cellspacing="0" style="width:100%; max-width:600px; font-family:Verdana;">
    <tr class="top" width="100%">
    </tr>
    <tr class="logo" width="100%">
        <td colspan="2" style="width:100%; ; background:#FFF;">

        <img src="http://i1.marabraz.com.br/media/wysiwyg/2017/emails/transacionais/cadastro/head.png" style="max-width: 100%"></td>
    </tr>
    
    <tr width="100%">
        <td class="doc">
        <img src="http://i1.marabraz.com.br/media/wysiwyg/2017/emails/transacionais/cadastro/doc1.png">
      </td> 
    </tr>

    <tr class="usuario" width="100%">
        <td colspan="2" width="100%">
            <h2>Ol&aacute;, {{htmlescape var=$customer.firstname}}</h2>
        </td>
    </tr>
    <tr class="info" width="100%">
        <td colspan="2" width="100%" style="padding:0 7% 51px 7%;">
            <p>Seja muito bem-vindo(a) &agrave; Marabraz.com. Acesse sua conta clicando em <a href="https://secure.marabraz.com.br/customer/account/login/">Login</a> ou <a href="https://secure.marabraz.com.br/customer/account/">Minha Conta</a> no alto de nossas p&aacute;ginas, ent&atilde;o informe seu e-mail e senha.</p><br />
            <p>
                Utilize as seguintes informa&ccedil;&otilde;es de acesso:<br />
                <strong>E-mail:</strong> {{htmlescape var=$customer.email}}<br />
            </p><br />
            <p>
                Quando acessar sua conta, voc&ecirc; poder&aacute;:<br /><br />
                - Fechar suas compras com maior agilidade<br />
                - Acompanhar seus pedidos<br />
                - Ver hist&oacute;rico de pedidos<br />
                - Alterar informa&ccedil;&otilde;es de conta<br />
                - Alterar sua senha<br />
                - Cadastrar novos endere&ccedil;os (como endere&ccedil;o de familiares e amigos!)<br />
            </p><br /><br />
            <p>
                Se voc&ecirc; tiver alguma d&uacute;vida sobre sua conta ou qualquer outra informa&ccedil;&atilde;o do site, por favor n&atilde;o deixe de entrar em contato com <a href="http://www.marabraz.com.br/sac">sac.reclamacao@marabraz.com.br</a> ou por telefone <b>(11) 3003-9070</b>.
            </p>
        </td>
    </tr>
    <tr class="dica" width="100%">
        <td colspan="2" width="100%" style="padding:0 7% 3% 7%; color:#27539c; font-size:18px; font-weight: bold">
            <span>#dicamara</span>
        </td>
    </tr>
    <tr class="dica-content" width="100%">
        <td colspan="2" width="100%" style="padding:0 7% 4% 7%;">
            <p style="color:#27539c!important;">Acompanhe o status de seus pedidos diariamente através do nosso site  e qualquer problema comunique-nos imediatamente para que possamos tomar as medidas necessárias.</p>
        </td>
    </tr>

<tr class="footer"  style="background:#27539c; color:#FFF;">
            <td colspan="2">

<table id="x_timeline" width="600" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
<tr class="x_footer" width="600px" style="background:#27539c; color:#FFF">
<td ><a href="http://www.marabraz.com.br/cartao-marabraz?utm_medium=zanox&utm_source=afiliados&utm_campaign=af&utm_term=footer&utm_content=cartao" target="_blank" rel="noopener noreferrer" title=""><img data-imagetype="External" src="http://image.info.marabraz.com/lib/fe5815707c620075761c/m/1/6f7fa1d1-bf68-4610-adb6-f2f50bab1f48.jpg" height="125" width="600" style="display:block; padding:0px; text-align:center; height:auto; width:100%; border-width:0px; border-color:transparent; border-style:solid"></a> </td>
</tr>
</table>
</td>
        </tr>

  <tr class="footer"  style="background:#FFF; color:#FFF;">
            <td colspan="2" style="padding-top: 6px; padding-bottom: 6px; background-color:#FFF;">

<span style="font-size:12px;"><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;">&copy; 2015 Lojas Marabraz. Todos direitos reservados.&nbsp;<br>
 CNPJ: 20.857.131/0001-05 IE: 241.064.974.111&nbsp;<br>
 Blue Group Participa&ccedil;&otilde;es e Com&eacute;rcio Eletr&ocirc;nico LTDA<br>
 <br>
 
 <span style="font-family: tahoma, geneva, sans-serif;">Caso haja diverg&ecirc;ncia de valores ou descri&ccedil;&otilde;es no produto ser&aacute; v&aacute;lido o que for exibido no carrinho de compras do site. Fotos meramente ilustrativas. Para informa&ccedil;&otilde;es mais detalhadas do produto visite nosso site.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">*Adquira o cartão de crédito Marabraz Banco Pan Internacional e tenha vantagens exclusivas em compras no nosso site. <a href="http://www.marabraz.com.br/cartao-marabraz?utm_source=salesforce&utm_medium=crm&utm_campaign=em&utm_term=textolegal&utm_content=footer">Clique aqui</a> e confira o regulamento.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Adicione a Marabraz aos seus contatos para que nossos e-mails n&atilde;o caiam na sua pasta de spam.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Ficou com alguma d&uacute;vida ou quer entrar em contato? Ent&atilde;o fale com nossa central de atendimento, eles ter&atilde;o enorme prazer em ajud&aacute;-lo.</span>
   <br><br>
  
  </span></span>
</span>

</td>
</tr>



    <tr class="footer" width="100%" style="background:#27539c; color:#FFF;">
        <td class="footer" width="50%" style="padding:1.5% 0 1.5% 7%; font-family:Arial; font-size:8px;">
            BLUE GROUP PARTICIPA&Ccedil;&Otilde;ES E COM&Eacute;RCIO ELETR&Ocirc;NICO LTDA.<br />
            Rodovia Anhanguera, km 37,5 - Bairro Empresarial Gato Preto<br />
            Cajamar, SP - Tel: 11 3003-9070<br />
            Inscrita no CNPJ sob o nº 20.857.131/0001-05
        </td>
        <td class="footer" width="50%" style="text-align:right; padding:1.5% 7% 1.5% 0;">
            <img src="http://i1.marabraz.com.br/media/wysiwyg/emails-transacionais/logo-marabraz-footer.png" />
        </td>
    </tr>
</table>
</body>
</html>