<!DOCTYPE html>
<html>
<head>
	<title></title>	
</head>
<body style="margin:0; padding:0;">
	<table border="0" cellpadding="0" cellspacing="0" width="600" style=" background:#FFF; font-family:Verdana; margin: auto;">
		<tr class="logo" >
			<td colspan="2" style=" padding:2.5% 7% 2.5% 7%; background:#27539c;"><img src="http://i1.marabraz.com.br/media/wysiwyg/emails-transacionais/logo-marabraz-email.png"  /></td>
		</tr>
		<tr class="title" >
			<td colspan="2"  style="background:#f8f8f8;text-align:center;color:#27539c;font-size:28px;padding:2.5% 7% 3% 7%;margin:0;">
				<strong>Pagamento aprovado</strong>
			</td>
		</tr>
		<tr class="status" >
			<td colspan="2"  style="text-align:center;padding:3% 7% 18px 7%;margin:0; font-size: 9px!important">
				{{block type='marabraz_sales/info' area='frontend' template='email/timeline.phtml' structure='table' order=$order}}
			</td>
		</tr>
		<tr class="linha" >
			<td colspan="2"  style="padding:0 7% 35px 7%; color:#27539c; font-size:18px;">
				<span style="display:inline-block;  border-top:2px solid #5a8adc; padding-bottom:3px;"></span>
			</td>
		</tr>
		<tr class="usuario" >
			<td colspan="2"  style="padding:0 7% 30px 7%; color:#27539c; font-size:18px;">
				<p style="margin:0;">Ol&aacute;,  {{htmlescape var=$order.getCustomerFirstname()}}</p>
			</td>
		</tr>
		<tr class="info" >
			<td colspan="2"  style="padding:0 7%; font-size:12px; color:#666666;">
				Seu pedido foi aprovado pela institui&ccedil;&atilde;o financeira e liberado para a Marabraz.com.<br /><br />
				O prazo para entrega come&ccedil;a a contar a partir de agora, conforme informamos no site e no e-mail enviado ap&oacute;s o fechamento do pedido. Voc&ecirc; pode verificar o andamento do seu pedido clicando em <a href="https://secure.marabraz.com.br/customer/account/">minha conta</a>.<br /><br />
				Se voc&ecirc; tiver qualquer d&uacute;vida, fique &agrave; vontade para nos contatar atrav&eacute;s do nosso <a href="http://www.marabraz.com.br/sac">Atendimento</a>.<br /><br />
				Entraremos em contato novamente assim que seu pedido for entregue &agrave; transportadora ou correio.<br /><br />
			</td>
		</tr>
		<tr class="pedido" >
			<td colspan="2" style="padding:35px 7% 30px 7%; font-size:12px; color:#666666;">
				Sua Fatura #{{var invoice.increment_id}} para o Pedido #{{var order.increment_id}}
			</td>
		</tr>
		    <tr class="detalhes-pedido"  valign="top" style="vertical-align: top !important;">
            <td width="50%" style="padding:35px 0 100px 7%;">
               <table  border="0" cellpadding="0" cellspacing="0">
					<tbody><tr border="1"  bgcolor="#eaeaea"><td  style="white-space:nowrap;font-size:12px;font-weight:bold;padding:5px 7px">Informações de Cobrança:</td></tr>
					<tr  border="1"><td  style="white-space:nowrap;font-size:10px;border:1px solid #eaeaea;padding:5px 7px">{{var order.billing_address.format('html')}}</td></tr>
                </table>
            </td>
            <td width="50%" style="padding:35px 7% 140px 2.5%;">
                <table  border="0" cellpadding="0" cellspacing="0">
                    <table  border="0" cellpadding="0" cellspacing="0">
					<tbody><tr border="1"  bgcolor="#eaeaea"><td  style="white-space:nowrap;font-size:12px;font-weight:bold;padding:5px 7px">Forma de Pagamento:</td></tr>
					<tr  border="1"><td  style="white-space:nowrap;font-size:10px;border:1px solid #eaeaea;padding:5px 7px">{{var payment_html}}</td></tr>
                </table>
            </td>
        </tr>       
        <tr class="dica" >
            <td colspan="2"  style="padding:0 7% 25px 7%; color:#27539c; font-size:18px;">
                <span style="width:35%; float:left;">#dicamara</span><span style="display:inline-block; width:65%; border-top:2px solid #5a8adc; padding-bottom:3px;"></span>
            </td>
        </tr>
        <tr class="dica-content" >
            <td colspan="2"  style="padding:0 7% 4% 7%; color:#27539c; font-size:18px;">
                <p style="font-size:11px;">Ao receber o produto, confira a embalagem junto &agrave; transportadora e,caso esteja danificada ou violada, recuse a entrega.</p>
            </td>
             </tr>
        <tr class="footer" width="600px" style="background:#27539c; color:#FFF;">
            <td width="50%" style="padding:1.5% 0 1.5% 7%; font-family:Arial; font-size:8px;">
                BLUE GROUP PARTICIPA&Ccedil;&Otilde;ES E COM&Eacute;RCIO ELETR&Ocirc;NICO LTDA.<br />
                Rodovia Anhanguera, km 37,5 - Bairro Empresarial Gato Preto<br />
                Cajamar, SP - Tel: 11 3003-9070<br />
                Inscrita no CNPJ sob o nº 20.857.131/0001-05
            </td>
            <td width="50%" style="text-align:right; padding:1.5% 7% 1.5% 0;">
                <img src="{{media"}}/wysiwyg/emails-transacionais/logo-marabraz-footer.png" />
            </td>
        </tr>
    </table>
</body>
</html>