<!DOCTYPE html>
<html>
<head>
    <title></title>
   
</head>
<body style="margin:0; padding:0;">
    <table border="0" cellpadding="0" cellspacing="0" width="600"  style=" background:#FFF; font-family:Verdana; margin: auto;">
        <tr class="logo" width="600px">
            <td colspan="2" style="width:600px; padding:2.5% 7% 2.5% 7%; background:#27539c;"><img src="{{media"}}/wysiwyg/emails-transacionais/logo-marabraz-email.png"  /></td>
        </tr>
        <tr class="title" >
            <td colspan="2"  style="background:#f8f8f8;text-align:center;color:#27539c;font-size:28px;padding:2.5% 7% 3% 7%;margin:0;">
                <strong>Pedido em Transporte</strong>
            </td>
        </tr>
        <tr class="status" >
            <td colspan="2"  style="text-align:center;padding:3% 7% 18px 7%;margin:0; font-size: 9px!important;">
                {{block type='marabraz_sales/info' area='frontend' template='email/timeline.phtml' structure='table' order=$order}}
            </td>
        </tr>
        <tr class="linha" >
            <td colspan="2"  style="padding:0 7% 35px 7%; color:#27539c; font-size:18px;">
                <span style="display:inline-block; width:600px; border-top:2px solid #5a8adc; padding-bottom:3px;"></span>
            </td>
        </tr>
        <tr class="usuario" >
            <td colspan="2"  style="padding:0 7% 30px 7%; color:#27539c; font-size:18px;">
                <p style="margin:0;">Ol&aacute;,  {{var order.getCustomerFirstname()}}</p>
            </td>
        </tr>
        <tr class="info" >
            <td colspan="2"  style="padding:0 7%; font-size:12px; color:#666666;">
                Seu pedido de n&uacute;mero  #{{var order.increment_id}} foi entregue a transportadora e j&aacute; est&aacute; a caminho.<br /><br />
                Voc&ecirc; tamb&eacute;m pode <a href="https://secure.marabraz.com.br/customer/account/">Acompanhar seu Pedido</a> atrav&eacute;s do nosso site.<br /><br /><br />
                Caso j&aacute; tenha recebido seu pedido, favor desconsiderar esta mensagem.<br /><br />
               
            </td>
        </tr>
        <tr class="pedido" >
            <td colspan="2"  style="padding:35px 7% 30px 7%; font-size:12px; color:#666666;">
              
            </td>
        </tr>
        <tr class="detalhes-pedido" valign="top"  style="vertical-align: top !important;">
            <td width="50%" style="padding:0px 0 100px 7%;">
                <table  border="0" cellpadding="0" cellspacing="0">
                    <tr border="1"  bgcolor="#eaeaea"><td  style="font-size:12px; font-weight:bold; padding:5px 7px;">Informa&ccedil;&otilde;es de Cobran&ccedil;a:</td></tr>
                    <tr  border="1"><td  style="font-size:10px; border:1px solid #eaeaea; padding:5px 7px;">{{var order.billing_address.format('html')}}</td></tr>
                </table>
            </td>
            <td width="50%" style="padding:0px 7% 100px 2.5%;">
                <table  border="0" cellpadding="0" cellspacing="0">
                    <tr border="1"  bgcolor="#eaeaea"><td  style="font-size:12px; font-weight:bold; padding:5px 7px;">Forma de Pagamento:</td></tr>
                    <tr  border="1"><td  style="font-size:10px; border:1px solid #eaeaea; padding:5px 7px;">{{var payment_html}}</td></tr>
                </table>
            </td>
        </tr>       
        <tr class="dica" >
            <td colspan="2"  style="padding:0 7% 25px 7%; color:#27539c; font-size:18px;">
                <span style="width:35%; float:left;">#dicamara</span><span style="display:inline-block; width:65%; border-top:2px solid #5a8adc; padding-bottom:3px;"></span>
            </td>
        </tr>
        <tr class="dica-content" >
            <td colspan="2"  style="padding:0 7% 4% 7%; color:#27539c; font-size:18px;">
                <p style="font-size:11px;">Ao receber o produto, confira a embalagem junto &agrave; transportadora e, caso esteja danificada ou violada, recuse a entrega.</p>
            </td>
             </tr>


<tr class="footer"  style="background:#27539c; color:#FFF;">
            <td colspan="2">

<table id="x_timeline" width="800" border="0" cellpadding="0" cellspacing="0" style="max-width:800px;">
<tr class="x_footer" width="800px" style="background:#27539c; color:#FFF">
<td ><a href="http://www.marabraz.com.br/cartao-marabraz?utm_medium=zanox&utm_source=afiliados&utm_campaign=af&utm_term=footer&utm_content=cartao" target="_blank" rel="noopener noreferrer" title=""><img data-imagetype="External" src="http://image.info.marabraz.com/lib/fe5815707c620075761c/m/1/6f7fa1d1-bf68-4610-adb6-f2f50bab1f48.jpg"  width="800" style="display:block; padding:0px; text-align:center; height:auto; width:100%; border-width:0px; border-color:transparent; border-style:solid"></a> </td>
</tr>
</table>
</td>
        </tr>

  <tr class="footer"  style="background:#FFF; color:#FFF;">
            <td colspan="2" style="padding-top: 6px; padding-bottom: 6px; background-color:#FFF;">

<span style="font-size:12px;"><span style="color:#000000;"><span style="font-family:tahoma,geneva,sans-serif;">&copy; 2015 Lojas Marabraz. Todos direitos reservados.&nbsp;<br>
 CNPJ: 20.857.131/0001-05 IE: 241.064.974.111&nbsp;<br>
 Blue Group Participa&ccedil;&otilde;es e Com&eacute;rcio Eletr&ocirc;nico LTDA<br>
 <br>
 
 <span style="font-family: tahoma, geneva, sans-serif;">Caso haja diverg&ecirc;ncia de valores ou descri&ccedil;&otilde;es no produto ser&aacute; v&aacute;lido o que for exibido no carrinho de compras do site. Fotos meramente ilustrativas. Para informa&ccedil;&otilde;es mais detalhadas do produto visite nosso site.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">*Adquira o cartão de crédito Marabraz Banco Pan Internacional e tenha vantagens exclusivas em compras no nosso site. <a href="http://www.marabraz.com.br/cartao-marabraz?utm_source=salesforce&utm_medium=crm&utm_campaign=em&utm_term=textolegal&utm_content=footer">Clique aqui</a> e confira o regulamento.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Adicione a Marabraz aos seus contatos para que nossos e-mails n&atilde;o caiam na sua pasta de spam.</span>
   <br><br>
  
   <span style="font-family: tahoma, geneva, sans-serif;">Ficou com alguma d&uacute;vida ou quer entrar em contato? Ent&atilde;o fale com nossa central de atendimento, eles ter&atilde;o enorme prazer em ajud&aacute;-lo.</span>
   <br><br>
  
  </span></span>
</span>

</td>
</tr>


        <tr class="footer" width="600px" style="background:#27539c; color:#FFF;">
            <td width="50%" style="padding:1.5% 0 1.5% 7%; font-family:Arial; font-size:8px;">
                BLUE GROUP PARTICIPA&Ccedil;&Otilde;ES E COM&Eacute;RCIO ELETR&Ocirc;NICO LTDA.<br />
                Rodovia Anhanguera, km 37,5 - Bairro Empresarial Gato Preto<br />
                Cajamar, SP - Tel: 11 3003-9070<br />
                Inscrita no CNPJ sob o nº 20.857.131/0001-05
            </td>
            <td width="50%" style="text-align:right; padding:1.5% 7% 1.5% 0;">
                  <img src="{{media"}}/wysiwyg/emails-transacionais/logo-marabraz-footer.png" />
            </td>
        </tr>
    </table>
</body>
</html>