<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        @media only screen and (max-width: 599px) {
            .detalhes-pedido td, .detalhes-pedido table tr, .detalhes-pedido table tr {width:100% !important;}
        }
    </style>
</head>
<body style="margin:0; padding:0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px; background:#FFF; font-family:Verdana;">
		<tr class="top" width="100%">
			
		</tr>
		<tr class="logo" width="100%">
			<td colspan="2" style="width:100%; padding:2.5% 7% 2.5% 7%; background:#27539c;"><img src="{{media"}}/wysiwyg/emails-transacionais/logo-marabraz-email.png" style="max-width:100%;" /></td>
		</tr>
		<tr class="title" width="100%">
			<td colspan="2" width="100%" style="background:#f8f8f8;text-align:center;color:#27539c;font-size:28px;padding:2.5% 7% 3% 7%;margin:0;">
				<strong>Pedido Cancelado</strong>
			</td>
		</tr>
		<tr class="linha" width="100%">
			<td colspan="2" width="100%" style="padding:0 7% 35px 7%; color:#27539c; font-size:18px;">
				<span style="display:inline-block; width:100%; border-top:2px solid #5a8adc; padding-bottom:3px;">{{block type='marabraz_sales/info' area='frontend' template='email/timeline.phtml' structure='table' order=$order}}</span>
			</td>
		</tr>
		<tr class="usuario" width="100%">
			<td colspan="2" width="100%" style="padding:0 7% 30px 7%; color:#27539c; font-size:18px;">
				<p style="margin:0;">Ol&aacute;,  {{htmlescape var=$order.getCustomerFirstname()}}</p>
			</td>
		</tr>
		<tr class="info" width="100%">
			<td colspan="2" width="100%" style="padding:0 7%; font-size:12px; color:#666666;">
                                O seu pedido de número #{{var order.increment_id}}  foi cancelado em nosso sistema.
				As informações sobre esta transação estão disponíveis na área  <a href="http://www.marabraz.com.br/customer/account/">Minha Conta</a>.

<br />
<br />
<br />
<br />
				
			</td>
		</tr>
		 <!--tr class="detalhes-pedido" width="100%" valign="top"  style="vertical-align: top !important;">
            <td width="100%" style="padding:0px 0 100px 7%;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr border="1" width="100%" bgcolor="#eaeaea"><td width="100%" style="font-size:12px; font-weight:bold; padding:5px 7px;">Informa&ccedil;&otilde;es de Cobran&ccedil;a:</td></tr>
                    <tr width="100%" border="1"><td width="100%" style="font-size:10px; border:1px solid #eaeaea; padding:5px 7px;">{{var order.billing_address.format('html')}}</td></tr>
                </table>
            </td>
            <td width="50%" style="padding:0px 7% 100px 2.5%;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr border="1" width="100%" bgcolor="#eaeaea"><td width="100%" style="font-size:12px; font-weight:bold; padding:5px 7px;">Forma de Pagamento:</td></tr>
                    <tr width="100%" border="1"><td width="100%" style="font-size:10px; border:1px solid #eaeaea; padding:5px 7px;">{{var payment_html}}</td></tr>
                </table>
            </td>
        </tr-->       
			
		<tr class="dica" width="100%">
			<td colspan="2" width="100%" style="padding:0 7% 25px 7%; color:#27539c; font-size:18px;">
				<span style="width:35%; float:left;">#dicamara</span><span style="display:inline-block; width:65%; border-top:2px solid #5a8adc; padding-bottom:3px;"></span>
			</td>
		</tr>
		<tr class="dica-content" width="100%">
			<td colspan="2" width="100%" style="padding:0 7% 4% 7%; color:#27539c; font-size:18px;">
				<p style="font-size:11px;">Acesse o site da Marabraz.com para refazer seu pedido o quanto antes, pois nossas ofertas e condições especiais são por tempo limitado.</p>
			</td>
		</tr>
		<tr class="footer" width="100%" style="background:#27539c; color:#FFF;">
			<td width="50%" style="padding:1.5% 0 1.5% 7%; font-family:Arial; font-size:8px;">
				BLUE GROUP PARTICIPA&Ccedil;&Otilde;ES E COM&Eacute;RCIO ELETR&Ocirc;NICO LTDA.<br />
				Rodovia Anhanguera, km 37,5 - Bairro Empresarial Gato Preto<br />
				Cajamar, SP - Tel: 11 3003-9070<br />
				Inscrita no CNPJ sob o nº 20.857.131/0001-05
			</td>
			<td width="50%" style="text-align:right; padding:1.5% 7% 1.5% 0;">
				<img src="{{media"}}/wysiwyg/emails-transacionais/logo-marabraz-footer.png" />
			</td>
		</tr>
	</table>
</body>
</html>