#infos {
	width: 560px;
	text-align: left;
	font-family: $f-default;
	font-weight: 400;
	font-size: $fs-default;
	line-height:150%;
    margin: 0;

    &.-welcome {
        margin: 0 !important;
        & > tr > td {

        }
        img {

        }
    }
    
    & > tr > td {

    }

    p:last-child {
        margin-bottom: 0;
    }

    a {
        font-weight: bold;
    }
}