#order {
    width: 100%;
    border: $base-border;

    #products {
        margin: 0;
        border-right: $base-border;

        & > tr > td {
        }

        .product {
            &:last-child {

                & > tr > td {
                }
            }
            & > tr > td {
            }

            p {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: $gutter/2;
            }
            .name {
                line-height: 16px;
                margin-bottom: $gutter/4;
            }
            .prices {
                margin-bottom: $gutter/4;
                font-size: $fs-small;

                .price {
                    font-size: $fs-big;
                }
            }
            .qty {}
        }
    }

    #resume {

        > tr > td {
            padding: 0 $gutter 0;
        }

        &:last-child {

                > tr > td {
                padding: 0 $gutter 0;
            }
        }

        p {
            margin: 0;
        }

        .caption {
            font-weight: bold;
            padding: 0;
            i {
                font-weight: lighter;
                font-style: normal;
            }
        }
        .value {
            font-weight: bold;
        }
    }
    #total {
        > tr > td {
            font-size: $fs-big;
        }
        .caption {}
        .value {}
    }
}