#timeline {
    width: 100%;
    border: $base-border;

    #timeline-head {
        td {
            padding: $gutter 0;
        }
        img {
            margin-right: $gutter;
        }

        h5, p { margin: 0; }
    }

    #timeline-steps {
        background-color: $c-gray;

        td {
            padding: $gutter/2 0;
        }
        #wrap-title {
            height: $gutter*2 - $gutter/3;

            > tr > td {
                padding: 0;
            }

            p.title {
                font-size: $fs-smaller;
                line-height: 10px;
                font-family: $f-small;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 900;

                &.passed,
                &.current {
                    color: $c-green;
                }
                &.waiting {
                    color: $c-grey;
                }
                &.interrupted {
                    color: $c-orange;
                }
                &.alert {
                    color: $c-yellow;
                }
            }
        }
    }
}