#wishlist {
    width: 100%;

    #products {

        & > tr > td {
        }

        .product {
            border: $base-border;
            margin-bottom: $gutter;

            & > tr > td {
            }

            p {
                margin-top: 0;
                margin-bottom: 0;
            }
            .name {
                line-height: 16px;
                margin-bottom: $gutter/4;
                text-decoration: none;
            }
            .prices {
                margin-bottom: $gutter/4;
                font-size: $fs-small;

                .price {
                    font-size: $fs-big;
                }
            }
            .qty {}
        }
    }
}