{% extends "default.nunjucks" %}


{% block email_title %}
    PAGAMENTO NÃO REALIZADO
{% endblock %}


{% block email_content %}
	<p class="h3">Olá {{data.mage.user.name}},</p>
    <p>
        Ah, que pena, o boleto referente ao seu pedido de número <strong>{{data.mage.var.order}}</strong> venceu há 1 dia. Por esse motivo, o pedido foi automaticamente cancelado em nosso site. Mas não fique triste, você pode realizar um novo pedido <a href="{{data.mage.store.account}}"  target="_blank" title="Painel">clicando aqui</a> para acessar sua conta. Só fique atento a data de vencimento do boleto para não perder essa oportunidade novamente.
    </p>
    <p>
        Ainda restou dúvidas? Não se preocupe, entre em contato com nossa equipe através da <a href="{{data.mage.store.sac}}"  target="_blank" title="SAC">central de atendimento</a>.
    </p>
{% endblock %}
{% block timeline_fixed %}
    {{ data.mage.timeline.status_canceled }}
{% endblock %}