{% extends "default.nunjucks" %}


{% block email_title %}
    ENTREGA DO PEDIDO
{% endblock %}


{% block email_content %}
    <p class="h3">Olá {{data.mage.user.name}},</p>
    <p>
        Tentamos, pela segunda vez, realizar a entrega do seu pedido de número <strong>{{data.mage.var.order}}</strong> no endereço solicitado, porém, não houve sucesso. Que pena. Mas fique tranquilo, uma nova tentativa está agendada para o dia <strong>{{data.mage.var.estimated_shipping}}</strong>.
    </p>
    <p>
        Se você preferir, pode acompanhar o andamento do seu pedido direto em nosso site. É só <a href="{{data.mage.store.account}}"  target="_blank" title="Painel">clicar aqui</a> e acessar sua conta. Aproveite para revisar todos os dados de entrega no seu cadastro para não ocorrer mais atrasos.
    </p>
    <p>
        Ainda restou dúvidas? Não se preocupe, entre em contato com nossa equipe através da <a href="{{data.mage.store.sac}}"  target="_blank" title="SAC">central de atendimento</a>.
    </p>
{% endblock %}
{% block timeline_fixed %}
    {{ data.mage.timeline.status_unsuccessful_delivery_attempt_2 }}
{% endblock %}