{% extends "default.nunjucks" %}


{% block email_title %}
    ENTREGA DO PEDIDO
{% endblock %}


{% block email_content %}
    <p class="h3">Olá {{data.mage.user.name}},</p>
    <p>
        Pedimos desculpas pois detectamos um problema em um dos produtos do seu pedido de número <strong>{{data.mage.var.order}}</strong>, durante o processo de entrega, por isso ele sofrerá um pequeno atraso.
    </p>
    <p>
        Sabemos que falta pouco para a chegada dos seus produtos e a ansiedade cresce a cada dia. Estamos trabalhando para contornar o problema o mais rápido possível. Por favor, entre em contato com nossa <a href="{{data.mage.store.sac}}"  target="_blank" title="SAC">central de atendimento</a> e obter mais informações.
    </p>
{% endblock %}


{% block timeline_fixed %}
    {{ data.mage.timeline.status_order_delivery_with_failure }}
{% endblock %}