// Tipography
$f-default: 'Arial', arial, sans-serif;
$f-small: $f-default;


// Colors

$c-black: #2d2d2d;
$c-white: #ffffff;
$c-blue: #193d98;
$c-gray: #d8d8d8;
$c-green: #54b04d;
$c-orange: #e76a36;
$c-yellow: #bda438;
$c-grey: #b3b3b5;

$theme: $c-blue;

$font-color: #606060;
$bg-color: #ededed;



// Units

$container: 600px;

$gutter: 20px;

$fs-tiny: 8px;
$fs-smaller: 9px;
$fs-small: 10px;
$fs-default: 12px;
$fs-big: 18px;

$fs-title: 14px;

$fs-h1: 24px;
$fs-h2: 22px;
$fs-h3: 20px;
$fs-h4: 18px;
$fs-h5: 16px;
$fs-h6: 12px;

// Base

$base-border: solid 1px $c-gray;